<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="Verport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/img/Logo Tecnologia  Moderno Degradado .png" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/estilos.css" />
    <title>Testudine</title>
    <style>
      body {
        background-image: linear-gradient(
          to right top,
          #413c89,
          #715d9d,
          #9b82b3,
          #c0aaca,
          #e2d4e4
        );
      }
      * {
        list-style: none;
      }
    </style>
  </head>
  <body>
    <!--Header-->
    <header class="py-3 mb-3 border-bottom" >
      <div
        class="container-fluid d-grid gap-3 align-items-center"
        style="grid-template-columns: 1fr 2fr"
      >
        <div class="ps-5">
          <a href="/">
            <img
              src="/img/Logo Tecnologia  Moderno Degradado .png"
              width="40"
              height="40"
              alt="logo"
              class="rounded-3"
            />
          </a>
        </div>

        <div class="d-flex align-items-center">
          <form class="w-100 me-3" role="search">
            <input
              type="search"
              class="form-control"
              placeholder="Buscar..."
              aria-label="Search"
            />
          </form>

          <div class="flex-shrink-0 dropdown">
            <a
              href="#"
              class="d-block link-dark text-decoration-none dropdown-toggle"
              id="dropdownUser2"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-person-circle"
                VerBox="0 0 16 16"
              >
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                <path
                  fill-rule="evenodd"
                  d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
                />
              </svg>
            </a>
            <ul
              class="dropdown-menu text-small shadow"
              aria-labelledby="dropdownUser2"
            >
              <li><a class="dropdown-item" href="#">Nuevo Proyecto...</a></li>
              <li><a class="dropdown-item" href="#">Ajustes</a></li>
              <li><a class="dropdown-item" href="#">Perfil</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="#">Salir</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>

    <!--/Header-->

    <!--Main-->
    <main class=" text-center" style="padding-top: 118px;">
      <h1 class="pt-5">Repositorio bloqueado.</h1>
      <p class="lead px-5">
        Algunos repositorios buscan tener mas privacidad y bloquean su
        visualizacion a los usuarios que no hacen parte de este, presiona el
        boton para enviar una peticion de visualizacion.
      </p>
      <p class="lead">
        <a href="/404" class="btn btn-lg fw-bold btn-dark">Enviar peticion</a>
      </p>
    </main>

    <!--/Main-->

    <!--Footer-->

    <footer style="padding-top: 130px;">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item">
          <a href="/index" class="nav-link px-2 text-muted">Home</a>
        </li>
        <li class="nav-item">
          <a href="/terminos" class="nav-link px-2 text-muted"
            >Terminos y condiciones</a
          >
        </li>
        <li class="nav-item">
          <a href="/404" class="nav-link px-2 text-muted">Privacidad</a>
        </li>
      </ul>
      <p class="text-center text-muted">© 2022 Testudine, Tech</p>
    </footer>
    <!--/Footer-->
  </body>
</html>
