<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="Verport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/img/Logo Tecnologia  Moderno Degradado .png" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/estilos.css" />
    <title>Testudine</title>
    <style>
      body {
        background-image: linear-gradient(
          to left top,
          #ffffff,
          #fcfcff,
          #f9f8ff,
          #f6f5ff,
          #f3f2ff,
          #f3f2ff,
          #f3f2ff,
          #f3f2ff,
          #f6f5ff,
          #f9f8ff,
          #fcfcff,
          #ffffff
        );
        
      }
     
    </style>
  </head>
  <body>
    <!--Header-->
        <header class="px-3 py-3 pb-5">
      <div class="container d-flex  justify-content-between">
       
        <div
      
            class="align-items-center mb-2 mb-lg-0 text-white text-decoration-none justify-content-start rounded-3"
          >
          <a href="/">
            <img
              src="/img/Logo Tecnologia  Moderno Degradado .png"
              width="40"
              height="40"
              alt="logo"
              class="rounded-3"
            />
          </a>
        </div>
        
        <div class="d-flex">

          <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
            <input
              type="search"
              class="form-control"
              placeholder="Buscar..."
              aria-label="Search"
            />
          </form>

          <div class="dropdown text-end">
            <a
              href="#"
              class="d-block link-dark text-decoration-none dropdown-toggle"
              id="dropdownUser1"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-person-circle"
                viewBox="0 0 16 16"
              >
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                <path
                  fill-rule="evenodd"
                  d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
                />
              </svg>
            </a>
            <ul
              class="dropdown-menu text-small"
              aria-labelledby="dropdownUser1"
            >
              <li><a class="dropdown-item" href="#">Nuevo Proyecto...</a></li>
              <li><a class="dropdown-item" href="#">Ajustes</a></li>
              <li><a class="dropdown-item" href="#">Perfil</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="#">Salir</a></li>
            </ul>
          </div>
          </div>
        </div>
      </div>
    </header>

    <!--/Header-->

    <!--Main-->
    
    <div class="album py-5 t">
        <div class="container">
            <h1 class="display-6 fw-bold lh-1 mb-3 text-testudine pb-3">
                Buscando "Colegio empresarial"
              </h1>
    
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-sm-2 g-3">
            <div class="col">
              <div class="card shadow-sm">
                <img src="/img/Colegios-img/img-empresarial.jpg" alt="" class="bd-placeholder-img card-img-top" width="100%" height="225"  >
               
              
                <div class="card-body">
                    <h5 class="card-title text-testudine">Colegio empresarial</h5>
                  <p class="card-text">
                   Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, delectus! Sint eos fugiat delectus nam quibusdam incidunt reiciendis eveniet illo id quis vero ut, est voluptate consequatur magni quae pariatur.
                  </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="/school">
                        <button type="button" class="btn btn-sm btn-outline-dark">Ver</button>
                        </a>
                      <button type="button" class="btn btn-sm btn-outline-dark">Editar</button>
                    </div>
                    <small class="text-muted">1200 Usuarios</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                  <img src="/img/Colegios-img/img-colegio-n1.jpg" alt="" class="bd-placeholder-img card-img-top" width="100%" height="225"  >
                 
                
                  <div class="card-body">
                      <h5 class="card-title text-testudine">Colegio Aleman</h5>
                    <p class="card-text">
                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, delectus! Sint eos fugiat delectus nam quibusdam incidunt reiciendis eveniet illo id quis vero ut, est voluptate consequatur magni quae pariatur.
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="/cover">
                        <button type="button" class="btn btn-sm btn-outline-dark">Ver</button>
                        </a>
                        <button type="button" class="btn btn-sm btn-outline-dark">Editar</button>
                      </div>
                      <small class="text-muted">800 usuarios

                      </small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                  <img src="/img/Colegios-img/img-colegio-n2.jpg" alt="" class="bd-placeholder-img card-img-top" width="100%" height="225"  >
                 
                
                  <div class="card-body">
                      <h5 class="card-title text-testudine">Colegio Mayor</h5>
                    <p class="card-text">
                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, delectus! Sint eos fugiat delectus nam quibusdam incidunt reiciendis eveniet illo id quis vero ut, est voluptate consequatur magni quae pariatur.
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="/cover">
                        <button type="button" class="btn btn-sm btn-outline-dark">Ver</button>
                        </a>
                        <button type="button" class="btn btn-sm btn-outline-dark">Editar</button>
                      </div>
                      <small class="text-muted">105 usuarios

                      </small>
                    </div>
                  </div>
                </div>
              </div>
    
              <div class="col">
                <div class="card shadow-sm">
                  <img src="/img/Colegios-img/img-colegio-n3.jpg" alt="" class="bd-placeholder-img card-img-top" width="100%" height="225"  >
                 
                
                  <div class="card-body">
                      <h5 class="card-title text-testudine">Colegio San Jose Obrero</h5>
                    <p class="card-text">
                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, delectus! Sint eos fugiat delectus nam quibusdam incidunt reiciendis eveniet illo id quis vero ut, est voluptate consequatur magni quae pariatur.
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="/cover">
                        <button type="button" class="btn btn-sm btn-outline-dark">Ver</button>
                        </a>
                        <button type="button" class="btn btn-sm btn-outline-dark">Editar</button>
                      </div>
                      <small class="text-muted">708 usuarios

                      </small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                  <img src="/img/Colegios-img/img-colegio-n4.jpg" alt="" class="bd-placeholder-img card-img-top" width="100%" height="225"  >
                 
                
                  <div class="card-body">
                      <h5 class="card-title text-testudine">Colegio Manuel Mejia Vallejo</h5>
                    <p class="card-text">
                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, delectus! Sint eos fugiat delectus nam quibusdam incidunt reiciendis eveniet illo id quis vero ut, est voluptate consequatur magni quae pariatur.
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="/cover">
                        <button type="button" class="btn btn-sm btn-outline-dark">Ver</button>
                        </a>
                        <button type="button" class="btn btn-sm btn-outline-dark">Editar</button>
                      </div>
                      <small class="text-muted">304 usuarios

                      </small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                  <img src="/img/Colegios-img/img-colegio-n5.jpg" alt="" class="bd-placeholder-img card-img-top" width="100%" height="225"  >
                 
                
                  <div class="card-body">
                      <h5 class="card-title text-testudine">Colegio Refous</h5>
                    <p class="card-text">
                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, delectus! Sint eos fugiat delectus nam quibusdam incidunt reiciendis eveniet illo id quis vero ut, est voluptate consequatur magni quae pariatur.
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="/cover">
                        <button type="button" class="btn btn-sm btn-outline-dark">Ver</button>
                        </a>
                        <button type="button" class="btn btn-sm btn-outline-dark">Editar</button>
                      </div>
                      <small class="text-muted">2030 usuarios

                      </small>
                    </div>
                  </div>
                </div>
              </div>
    
              <div class="col">
                <div class="card shadow-sm">
                  <img src="/img/Colegios-img/img-colegio-n6.jpg" alt="" class="bd-placeholder-img card-img-top" width="100%" height="225"  >
                 
                
                  <div class="card-body">
                      <h5 class="card-title text-testudine">Colegio San Pedro Claver</h5>
                    <p class="card-text">
                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, delectus! Sint eos fugiat delectus nam quibusdam incidunt reiciendis eveniet illo id quis vero ut, est voluptate consequatur magni quae pariatur.
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="/cover">
                        <button type="button" class="btn btn-sm btn-outline-dark">Ver</button>
                        </a>
                        <button type="button" class="btn btn-sm btn-outline-dark">Editar</button>
                      </div>
                      <small class="text-muted">256 usuarios

                      </small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                  <img src="/img/Colegios-img/img-colegio-n7.jpg" alt="" class="bd-placeholder-img card-img-top" width="100%" height="225"  >
                 
                
                  <div class="card-body">
                      <h5 class="card-title text-testudine">Nuevo Colegio del prado</h5>
                    <p class="card-text">
                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, delectus! Sint eos fugiat delectus nam quibusdam incidunt reiciendis eveniet illo id quis vero ut, est voluptate consequatur magni quae pariatur.
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="/cover">
                        <button type="button" class="btn btn-sm btn-outline-dark">Ver</button>
                        </a>
                        <button type="button" class="btn btn-sm btn-outline-dark">Editar</button>
                      </div>
                      <small class="text-muted">1230 usuarios

                      </small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col d-flex align-items-center justify-content-center" >
                <a href="">
                <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" fill="#6507A7" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                </svg>
              </a>
              </div>
          </div>
        </div>
      </div>
    <!--/Main-->

   

    <!--Footer-->

    <footer style="padding-top: 115px;">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item">
          <a href="/" class="nav-link px-2 text-muted">Home</a>
        </li>
        <li class="nav-item">
          <a href="/terminos" class="nav-link px-2 text-muted"
            >Terminos y condiciones</a
          >
        </li>
        <li class="nav-item">
          <a href="/404" class="nav-link px-2 text-muted">Privacidad</a>
        </li>
      </ul>
      <p class="text-center text-muted">© 2022 Testudine, Tech</p>
    </footer>
    <!--/Footer-->
  </body>
</html>
