<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/img/Logo Tecnologia  Moderno Degradado .png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/estilos.css" />
    <title>Testudine</title>
    <style>
        body {
            background-image: linear-gradient(to right top, #efeeff, #f3f2ff, #f7f6ff, #fbfbff, #ffffff);
               }
      </style>

  </head>
  <body>
    <!--Header-->
    <header class="px-3 py-3 pb-5">
      <div class="container d-flex  justify-content-between">
       
        <div
      
            class="align-items-center mb-2 mb-lg-0 text-white text-decoration-none justify-content-start rounded-3"
          >
          <a href="/">
            <img
              src="/img/Logo Tecnologia  Moderno Degradado .png"
              width="40"
              height="40"
              alt="logo"
              class="rounded-3"
            />
          </a>
        </div>
        
        <div class="d-flex">

          <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
            <input
              type="search"
              class="form-control"
              placeholder="Buscar..."
              aria-label="Search"
            />
          </form>

          <div class="dropdown text-end">
            <a
              href="#"
              class="d-block link-dark text-decoration-none dropdown-toggle"
              id="dropdownUser1"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-person-circle"
                viewBox="0 0 16 16"
              >
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                <path
                  fill-rule="evenodd"
                  d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
                />
              </svg>
            </a>
            <ul
              class="dropdown-menu text-small"
              aria-labelledby="dropdownUser1"
            >
              <li><a class="dropdown-item" href="#">Nuevo Proyecto...</a></li>
              <li><a class="dropdown-item" href="#">Ajustes</a></li>
              <li><a class="dropdown-item" href="#">Perfil</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="#">Salir</a></li>
            </ul>
          </div>
          </div>
        </div>
      </div>
    </header>
  
      <!--/Header-->

      <!--Main-->

      <main class="mx-5">

      <div class="row flex-lg-row-reverse align-items-center g-5 py-5 ">
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="/img/S2_Conversation at Office.jpg" class="d-block mx-lg-auto img-fluid" alt="Imagen terminos" width="700" height="500" loading="lazy" style="border-radius: 50px">
        </div>
        <div class="col-lg-6">
          <h1 class="display-5  lh-1 mb-3">Terminos y condiciones</h1>
          <p class="lead fs-5">Al hacer uso de esta página web, el visitante y/o usuario declara haber leído y estar de acuerdo con todos los Términos y Condiciones aquí contenidos. Por favor, lea cuidadosamente este documento, ya que de éste tanto el visitante como el usuario registrado, adquieren derechos y obligaciones.

            El presente documento contiene los Términos y Condiciones de la página www.testudine.co, propiedad de testudine.tech, los cuales son aceptados por el visitante y/o usuario registrado (en adelante usuario) de la misma. Para llevar a cabo la compra de los productos y/o servicios anunciados en esta página web, el visitante o usuario deberá ser mayor de edad, registrarse diligenciando el formulario que se dispone para ello, comprometiéndose a suministrar toda la información requerida, y cumplir y respetar todos los Términos y Condiciones establecidos en esta página web y en la Ley Colombiana vigente.</p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a href="/">
            <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Entendido</button>
        </a>
          </div>
        </div>
      </div>
    </main>

      
       <!--/Main-->

       <!--Footer-->

    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item">
            <a href="/" class="nav-link px-2 text-muted">Home</a>
          </li>
          <li class="nav-item">
            <a href="/terminos" class="nav-link px-2 text-muted"
              >Terminos y condiciones</a
            >
          </li>
          <li class="nav-item">
            <a href="/404" class="nav-link px-2 text-muted">Privacidad</a>
          </li>
        </ul>
        <p class="text-center text-muted">© 2022 Testudine, Tech</p>
      </footer>
      <!--/Footer-->
  </body>
</html>